<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.green.board8.board.BoardMapper">

   <insert id="insBoard" parameterType="BoardDto">
       insert into c_board
       (title,ctnt,writer)
       values
       (#{title},#{ctnt},#{writer})
   </insert>
    <select id="selBoardAll" resultType="BoardVo">
    SELECT iboard,title,writer,
        created_at createdAt
        FROM c_board
        order by iboard desc
        LIMIT ${startIdx},${rowLen}
    </select>

    <select id="selBoardById" resultType="BoardDetailVo">
        SELECT iboard,title,ctnt,writer,
        created_at createdAt,
        updated_at updatedAt
        FROM c_board
        where iboard = ${iboard}
    </select>

    <update id="upBoard">
        update c_board
        set
        title = #{title},
        ctnt = #{ctnt},
        writer = #{writer},
        updated_at = current_timestamp()
        where iboard = ${iboard}
    </update>

    <delete id="delBoard">
        delete from c_board
        where iboard = #{iboard}
    </delete>



</mapper>


