<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.green.board8.fileupload.FileuploadMapper">
    <insert id="insFile">
        insert into t_file
        (path,uploader,level_Value)
        values
        (#{path}, #{uploader}, #{levelValue})
    </insert>
    <select id="selFileById" resultType="FileEntity">
        SELECT * FROM t_file
        WHERE ifile = ${ifile}
    </select>



</mapper>


